@import 'src/reset';
@import 'src/fonts';
@import 'src/mixins';

a {
  text-decoration: none;
}

body,
input,
button,
textaria {
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
